body {
    background: linear-gradient(90deg, #ddb35f, #7409c7);
}

header {
    display: flex;
    border: 0px solid black;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: black;
    top: 0;
    left: 0;
}

h1 {
    text-align: left;
    color: white;
    font-family: Impact;
    margin: 0 auto;
    margin-top: 13px;
    margin-left: 20px;
}

.linktable {
    padding-right: 100px;
    text-align: right;
    color: white;
    font-family: Impact;
    font-size: 18px;
}

.arrow {
    position: relative;
    top: -60px;
    float: right;
}
A {
    text-decoration: none;
    color: black;
}


.logo {
    padding-left: 20px;
    padding-top: 0px;
    float: left;
}

.content {
    display: flex;
    border: 0px solid black;
    margin-top: 100px;
    justify-content: space-around;

}

.block1 {
    width: 30%;
    height: 700px;
    border: 0px solid black;
}
.ava {
    width: 400px;
    height: 400px;
    border: 0px solid black;
    margin-left: 95px;
    margin-top: 50px;
}
.ava_style {
    width: 90%;
    border-radius: 40px;
    box-shadow: 15px 15px #000000;
}

.block2 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 700px;
    border: 0px solid black;
}

.name {
    width: 100%;
    height: 120px;
    border: 0px solid black;
}

.name1 {
    margin-left: 25%;
    margin-top: -13px;
    width: 600px;
    height: 100px;
    border: 0px solid #000000;
    background-color: #ffffff;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset,
            0 5px 0 -4px rgb(255, 255, 255),
            0 5px 0 -3px rgb(194, 192, 184),
            0 11px 0 -8px rgb(255, 255, 255),
            0 11px 0 -7px rgb(194, 192, 184),
            0 17px 0 -12px rgb(255, 255, 255),
            0 17px 0 -11px rgb(194, 192, 184);
}

.name_style {
    text-align: center;
    padding-top: 25px;
    font-size: 40px;
    font-family: Broadway;
    font-weight: lighter;
}

.about {
    height: 580px;
    width: 50%;
}

.about1 {
    margin-top: 60px;
    margin-left: 80px;
    width: 450px;
    height: 460px;
    border: 0px solid white;
    background-color: #ffffff;
    box-shadow: 15px 15px #000000;
}

.about_style {
    font-size: 24px;
    padding: 25px;

}
.study {
    height: 580px;
    width: 50%;
}
.study1 {
    margin-left: 80px;
    margin-top: 120px;
    width: 370px;
    height: 420px;
    border: 0px solid white;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px #000000;
}

.study_style {
    font-size: 24px;
    padding: 25px;
}

.content_2 {
    left: 0px;
    display: flex;
    border: 0px solid #000000;
    margin-top: 100px;
    justify-content: space-evenly;
}

.box1 {
    display: flex;
    flex-wrap: wrap;
    width: 23%;
    border: 0px solid #ffffff;
    justify-content: space-evenly;
    padding: 10px;
}

.img1 {
    width: 90%;
    height: 240px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    background-color: #000000;
    border: 0px solid #ffffff;
}

.text1 {
    width: 90%;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #000000;
    border: 0px solid #ffffff;
}

.cat1 {
    width: 100%;
    height: 260px;
}
.cat1_text {
    color: white;
    padding: 10px;
    font-size: 22px;
    padding-top: 2px;
}
.content_3 {
    display: grid;
    margin: 40px;
    margin-top: 100px;
    padding: 10px;
    border: 0px solid black;
    grid-template-rows: 600px 600px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 70px;
    grid-template-areas:
            'up up2'
            'down down2';
}

.one_gr {
    grid-area: up;
    padding: 10px;


}
.one_gr_1 {
    margin-bottom: 0px;

}

.one_gr_2 {
    margin-right: 100px;
    background-color: #ffffff;
    color: white;
    width: 530px;
    height: 70px;
    margin-left: 100px;
    padding-top: 1px;
    margin-top: 15px;

}

.flow1 {
    width: 530px;
    height: 500px;
    padding-left: 100px;
    padding-top: 5px;
}

.flow_text {
    text-align: center;
    color: #000000;
    font-size: 24px;

}

.two_gr {
    grid-area: up2;
}

.three_gr {
    grid-area: down;
}

.four_gr {
    grid-area: down2;
}