body {
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
}

header {
    border: 0px solid;
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}

h1 {
    text-align: left;
    color: white;
    font-family: Impact;
    margin: 0 auto;
    margin-top: 13px;
    margin-left: 90px;
}

.logo {
    padding-left: 20px;
    padding-top: 0px;
    float: left;
}

.content {
    border: 0px solid #ffffff;
    padding-top: 30px;
    margin-top: 30px;
}

table, td {
    border: 3px solid;
    border-collapse: collapse;
    margin: 40px auto;
    background-color: #ffffff;
    width: 870px;
    height: 53px;
    background-color: #f7ffff;
    box-shadow: 15px 15px rgb(14, 14, 28);
}

td {
    height: 65px;
}

p {
    font-size: 20px;
    font-weight: bold;
}

caption {
    font-size: 35px;
    font-weight: bolder;
    font-family: "Century Gothic";
}

.one {
    position: relative;
    top: -5px;
    font-size: 38px;
    font-weight: bold;
}

.two {
    position: relative;
    top: -1px;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.three {
    position: relative;
    right: -9px;
    top: 24px;
    float: right;
    font-size: 20px;
}

.four {
    position: relative;
    left: auto;
    font-weight: bold;
    font-size: 20px;
}


.fix {
    left: 16px;
}

.one1 {
    position: relative;
    top: -15px;
    font-size: 38px;
    font-weight: bold;
    float: right;
}

.two2 {
    position: relative;
    top: -11px;
    font-weight: bold;
    font-size: 20px;
}

.three3 {
    position: relative;
    top: 12px;
    left: -21px;
    font-size: 20px;
}

.four4 {
    position: relative;
    left: 37px;
    float: right;
    bottom: -10px;
    font-weight: bold;
    font-size: 20px;
}

.onefix {
    position: relative;
    top: -11px;
    font-size: 38px;
    font-weight: bold;
}

.twofix {
    position: relative;
    top: -12px;
    float: right;
    font-weight: bold;
    font-size: 20px;
}

.threefix {
    position: relative;
    right: -10px;
    top: 16px;
    float: right;
    font-size: 20px;
}

.fourfix {
    position: relative;
    top: 17px;
    left: -23px;
    font-weight: bold;
    font-size: 20px;
}

.colorred {
    background-color: #c77272;
}

.yello {
    background-color: #eaea77;
}

.blue {
    background-color: #87bccc;
}
A {
    text-decoration: none;
    color: black;
}

A:hover {
    text-decoration: none;
    background-color: rgb(214, 255, 201);
}

.linktable {
    position: relative;
    top: -50px;
    right: 15px;
    text-align: right;
    color: white;
    font-family: Impact;
    font-size: 17px;
}

.link {
    position: relative;
    top: -55px;
    right: 10px;
    transform: rotate(180deg);
    float: right;

}




