body {
    background: linear-gradient(90deg, #ddb35f, #7409c7);
}

header {
    border: 0px solid;
    background: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
}
.content {
    border: 0px solid white;
}
h1 {
    text-align: left;
    color: white;
    font-family: Impact;
    margin: 0 auto;
    margin-top: 13px;
    margin-left: 90px;
}

.logo {
    padding-left: 20px;
    padding-top: 0px;
    float: left;
}

.block1 {
    position: relative;
    left: 160px;
    top: 140px;
    width: 330px;
    height: 330px;
    border: 0px solid white;
}
.ava {
    width: 90%;
    border-radius: 40px;
    box-shadow: 15px 15px #000000;
}
.block2 {
    position: absolute;
    left: 800px;
    top: 105px;
    width: 600px;
    height: 100px;
    border: 0px solid white;
    background-color: #ffffff;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset,
            0 5px 0 -4px rgb(255, 255, 255),
            0 5px 0 -3px rgb(194, 192, 184),
            0 11px 0 -8px rgb(255, 255, 255),
            0 11px 0 -7px rgb(194, 192, 184),
            0 17px 0 -12px rgb(255, 255, 255),
            0 17px 0 -11px rgb(194, 192, 184);
}
.name {
    text-align: center;
    font-size: 48px;
    font-family: Broadway;
    margin: 25px auto;
}
.block3 {
    position: absolute;
    left: 600px;
    top: 265px;
    width: 450px;
    height: 460px;
    border: 1px solid white;
    background-color: #ffffff;
    box-shadow: 15px 15px #000000;
    word-wrap:break-word;
}
.about {
    font-size: 26px;
    margin-left: 50px;
    margin-right: 50px;
}
.block4 {
    position: absolute;
    left: 1200px;
    top: 330px;
    width: 370px;
    height: 420px;
    border: 1px solid white;
    background-color: #ffffff;
    box-shadow: 15px 15px #000000;
    word-wrap: break-word;
}
.study {
    font-size: 26px;
    margin-left: 50px;
    margin-right: 50px;
}
/*https://prowebmastering.ru/box-shadow.html тени я брал отсюда*/