body {
    background: linear-gradient(90deg, #ddb35f, #7409c7);
}
div{
    height: 50px;
    width: 100%;
    /*	background-color: aqua;*/
    margin-top: 10px;
    text-align: center;
}
.one, .one_new{
    background: #8ec9d8;
}
.two{
    background-color: yellow;
}
.three{
    background-color: LightPink;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
/*.one_new{*/
/*	grid-column: 1/3;*/
/*}*/
/*.two{*/
/*	grid-column: 3/6;*/
/*}*/
/*max-width: [00..350]*/
/*min-width:[700...+]*/

@media screen and (max-width: 350px) {
    .grid {
        grid-template-columns: 1fr;
        grid-column-gap: 15px;
    }
    .one_new {
        background-color: red;
    }
}

@media screen and (min-width: 350px) and (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 15px;
    }
    .one_new, .two, .three, .one {
        background-color: #7409c7;
    }
}

@media screen and (min-width: 700px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 15px;
    }
    div:nth-child (even) {
        background-color: blue;
    }
}
