body {
    background-color: #bedcf3;
    display: grid;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 20px;
    height: 100vh;
    margin: 0;
}

div{
    height: 200px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    border: 0px solid #ffffff;
}

#Header {
    grid-area: header;
    border: 0px solid #edff00;
    height: 60px;
    background-color: black;
    padding: 5px;
}
.adaptive {
    width: 150px;
    height: 60px;
    margin: 0;
}
h1 {
    color: white;
    text-align: center;
    margin-left: 70px;
    border: 0px solid white;
    width: 80px;
    height: 50px;
    font-size: 25px;
    margin-top: 0px;
    font-family: Impact;
}
.logo {
    margin-left: 20px;
    margin-top: -70px;
    width: 61px;
    height: 61px;
    border: 0px;
}

#main {
    grid-area: main;
    border: 0px solid #38ff0b;
    margin-bottom: 50px;
}
#Footer {
    grid-area: footer;
    border: 0px solid #edff00;
    height: 200px;
    background-color: black;
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-areas:
    "ava name name"
    "ava about study"
    "ava about study";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-top: 30px;
}
.ava {
    grid-area: ava;
    width: 400px;
    height: 400px;
    margin-left: 50px;
    border: 0px solid black;
}

.ava_style {
    width: 90%;
    border-radius: 40px;
    box-shadow: 15px 15px #000000;
}
.name {
    margin: 0 auto;
    margin-top: 50px;
    grid-area: name;
    width: 500px;
    height: 100px;
    border: 0px solid #000000;
    background-color: #ffffff;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset,
            0 5px 0 -4px rgb(255, 255, 255),
            0 5px 0 -3px rgb(194, 192, 184),
            0 11px 0 -8px rgb(255, 255, 255),
            0 11px 0 -7px rgb(194, 192, 184),
            0 17px 0 -12px rgb(255, 255, 255),
            0 17px 0 -11px rgb(194, 192, 184);
}
.name_style {
    text-align: center;
    font-size: 40px;
    font-family: Broadway;
    font-weight: lighter;
}
.about {
    grid-area: about;
    width: 450px;
    height: 460px;
    border: 0px solid white;
    background-color: #ffffff;
    box-shadow: 15px 15px #000000;
}
.about_style {
    font-size: 24px;
    padding: 25px;
    text-align: left;
 }
.study {
    grid-area: study;
    width: 370px;
    height: 420px;
    border: 0px solid white;
    background-color: rgb(255, 255, 255);
    box-shadow: 15px 15px #000000;
}
.study_style {
    font-size: 24px;
    padding: 25px;
    text-align: left;
}

.title1 {
    margin-top: 160px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: #000000 1px 0 2px;
    font-family: "Century Gothic";
}
.flexbox {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
}
.box1 {
    background-color: #ffffff;
    margin: 10px;
    width: 300px;
    height: 300px;
    padding: 10px;
    padding-top: 15px;
    border-radius: 40px;
    box-shadow: 30px -16px #000000;
}
.flow1 {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}
.flow_text {
    text-align: center;
    color: #000000;
    font-size: 20px;
}

.grid_cat {
    display: grid;
    grid-template-areas:
    "box2 box3"
    "box4 box5";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 250px;
    margin-right: 250px;
    grid-column-gap: 150px;
    grid-row-gap: 100px;
    margin-top: 20px;
    margin-bottom: 70px;
    justify-content: center;
}
.box2 {
    grid-area: box2;
}
.box3 {
    grid-area: box3;
}
.box4 {
    grid-area: box4;
}
.box5 {
    grid-area: box5;
}
.box2, .box3, .box4, .box5 {
    background-color: #ffffff;
    height: 500px;
    border-radius: 10px;
    border: 4px solid black;
    padding: 20px;
}
.cat1 {
    width: 480px;
    border-radius: 10px;
    border: 4px solid black;
}
.cat1_text {
    color: #000000;
    padding: 10px;
    font-size: 22px;
    margin: 20px auto;
}

.teleg {
    height: 50px;
    width: 50px;
    float: right;
    padding-right: 10px;
    margin-bottom: 0px;
}
.git {
    height: 50px;
    width: 50px;
    float: right;
    padding-right: 10px;

}

.linktable {
    margin-top: -40px;
    padding-right: 10px;
    text-align: right;
    color: white;
    font-family: Impact;
    font-size: 18px;
}
A {
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 60px;
        grid-template-areas:
    "ava ava"
    "name name"
    "about study";
    }

   .adaptive {
       display: block;
       margin-left: auto;
       margin-right: auto;
   }
    .about {
        margin: 0 auto;
        margin-top: -300px;
        grid-area: about;
        width: 270px;
        height: 580px;
        border: 0px solid white;
        background-color: #ffffff;
        box-shadow: 15px 15px #000000;
    }
    .study {
        margin: 0 auto;
        margin-top: -250px;
        grid-area: study;
        width: 270px;
        height: 420px;
        border: 0px solid white;
        background-color: rgb(255, 255, 255);
        box-shadow: 15px 15px #000000;
    }
    .ava {
        margin: 0 auto;
        grid-area: ava;
        width: 350px;
        height: 400px;
        border: 0px solid black;
    }
    .name {
        margin: 0 auto;
        grid-area: name;
        width: 350px;
        height: 120px;
        border: 0px solid #000000;
        background-color: #ffffff;
        box-shadow: 0 0 0 1px rgb(194, 192, 184) inset,
        0 5px 0 -4px rgb(255, 255, 255),
        0 5px 0 -3px rgb(194, 192, 184),
        0 11px 0 -8px rgb(255, 255, 255),
        0 11px 0 -7px rgb(194, 192, 184),
        0 17px 0 -12px rgb(255, 255, 255),
        0 17px 0 -11px rgb(194, 192, 184);
    }

    .flexbox {
        flex-direction: row;
        text-align: center;
        flex-wrap: wrap;
    }
    .title1 {
        margin-top: 60px;
        text-align: center;
        font-size: 40px;
        font-weight: bolder;
        text-shadow: #ffffff 1px 0 10px;
        font-family: "Century Gothic";
    }
    .grid_cat {
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
        grid-template-areas:
    "box2"
    "box3"
    "box4"
    "box5";
    }
    .box2 {
        grid-area: box2;
    }
    .box3 {
        grid-area: box3;
    }
    .box4 {
        grid-area: box4;
    }
    .box5 {
        grid-area: box5;
    }
    .box2, .box3, .box4, .box5 {
        margin: 0 auto;
        background-color: #ffffff;
        height: 500px;
        border-radius: 10px;
        border: 4px solid black;
        padding: 20px;
        width: 500px;
    }
    .cat1 {
        width: 400px;
    }
    .cat1_text {
        font-size: 22px;
    }
    .linktable {
        margin-top: -40px;
        padding-right: 10px;
        text-align: right;
        float: right;
        color: white;
        font-family: Impact;
        font-size: 14px;
    }


}
@media screen and (max-width: 400px) {
    .grid {
        margin: 0 auto;
        grid-row-gap: 60px;
        grid-template-columns: 1fr;
        grid-template-areas:
    "ava"
    "name"
    "about"
    "study";
    }

    .adaptive {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .about {
        margin: 0 auto;
        margin-top: -300px;
        grid-area: about;
        width: 350px;
        height: 460px;
        border: 0px solid white;
        background-color: #ffffff;
        box-shadow: 15px 15px #000000;
        font-size: 10px;
    }
    .study {
        margin: 0 auto;
        margin-top: -250px;
        grid-area: study;
        width: 350px;
        height: 420px;
        border: 0px solid white;
        background-color: rgb(255, 255, 255);
        box-shadow: 15px 15px #000000;
    }
    .ava {
        margin: 0 auto;
        grid-area: ava;
        width: 350px;
        height: 400px;
        border: 0px solid black;
    }
    .name {
        margin: 0 auto;
        grid-area: name;
        width: 350px;
        height: 120px;
        border: 0px solid #000000;
        background-color: #ffffff;
        box-shadow: 0 0 0 1px rgb(194, 192, 184) inset,
        0 5px 0 -4px rgb(255, 255, 255),
        0 5px 0 -3px rgb(194, 192, 184),
        0 11px 0 -8px rgb(255, 255, 255),
        0 11px 0 -7px rgb(194, 192, 184),
        0 17px 0 -12px rgb(255, 255, 255),
        0 17px 0 -11px rgb(194, 192, 184);
    }

    .flexbox {
        flex-direction: column;
        text-align: center;
    }
    .grid_cat {
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-row-gap: 60px;
        grid-template-areas:
    "box2"
    "box3"
    "box4"
    "box5";
    }
    .box2 {
        grid-area: box2;
    }
    .box3 {
        grid-area: box3;
    }
    .box4 {
        grid-area: box4;
    }
    .box5 {
        grid-area: box5;
    }
    .box2, .box3, .box4, .box5 {
        margin: 0 auto;
        background-color: #ffffff;
        height: 500px;
        border-radius: 10px;
        border: 4px solid black;
        padding: 20px;
        width: 320px;
    }
    .cat1 {
        width: 310px;
    }
    .cat1_text {
        font-size: 22px;
    }

}







